[Unit]
Description=Statsd Exporter
After=network.target

[Service]
ExecStart={{ statsd_exporter_symlink }} -web.listen-address {{ statsd_exporter_listen_address }} -statsd.listen-udp {{ statsd_exporter_listen_udp_address }} -statsd.mapping-config {{ statsd_exporter_mapping_config_file }}

[Install]
WantedBy=multi-user.target